resources/external/
notinuse
figures/creating_figures_2nddraft.pptx
figures/creating_figures_3rddraft.pptx
figures/creating_figures_4thdraft.pptx
figures/Map-AnnaSZ.ai
figures/Map-AnnaSZ.pdf
figures/Map-AnnaSZ.png
figures/~$*.pptx
figures/compilation_*
figures/fitcomp_*
figures/matchups_*
figures/uncertainty_*
figures/uvp_*
data/interim/
data/raw/dataset_s0_trap_and_radionuclide_compilation.xlsx
data/raw/dataset_s0_contributing_data
data/processed/fitmetrics_classic_*
cover.png
.DS_Store
