resources/external/
notinuse
code/*.asv
figures/creating_figures_2nddraft.pptx
figures/creating_figures_3rddraft.pptx
figures/creating_figures_4thdraft.pptx
figures/*.pdf
figures/Map-AnnaSZ*
figures/~$*.pptx
figures/compilation_compilation_percentageuncertainty*
figures/uncertainty_*
data/interim/
data/raw/dataset_s0_trap_and_radionuclide_compilation.xlsx
data/raw/dataset_s0_contributing_data
data/processed/fitmetrics_classic_*
data/processed/*old*
cover.png
.DS_Store
